:root {
  --primery-text-color: #757575;
  --secondary-text-color: #212121;
  --accent-color-text: #2196f3;
  --logo-text-color: #000000;
  --white-color: #ffffff;
  --background-footer-color: #2f303a;
  --hover-button: #188ce8;
  --secondary-backgraund-color: #f5f4fa;
  --icon-color: #afb1b8;
}

/* вторичный цвет фона #F5F4FA */
/* основной цвет фона #FFFFFF */
p,
h1,
h2,
h3,
h4 {
  padding: 0px;
  margin: 0px;
}
img {
  display: block;
}

.container {
  width: 1200px;
  margin-left: auto;
  margin-right: auto;
  padding-left: 15px;
  padding-right: 15px;
}
.link.carent {
  color: #2196f3;
}

.link {
  color: var(--logo-text-color);
  text-decoration: none;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.site-nav .link.carent {
  color: var(--accent-color-text);
}

body {
  font-family: "Roboto", sans-serif;
  font-weight: 400;
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
  background-color: #ffffff;
  color: var(--primery-text-color);
}

.logo {
  font-family: "Raleway", sans-serif;
  font-weight: 700;
  font-size: 26px;
  line-height: 1.17;
  color: var(--accent-color-text);
  text-decoration: none;
}
.logo-header {
  color: var(--logo-text-color);
}
.logo-footer {
  color: var(--white-color);
}
/* -------------header------------- */
.header {
  border-bottom: 1px solid #ececec;
}

.container-header {
  display: flex;
  align-items: center;
}
/* header-nav */

.header-nav {
  display: flex;
  min-width: 294px;
  margin-left: 93px;
  margin-top: 32px;
  margin-bottom: 32px;
  justify-content: space-between;
  font-weight: 500;
  line-height: 1.17;
  list-style: none;
  letter-spacing: 0.02em;
}

.header-nav.link {
  color: var(--logo-text-color);
}

.header-nav .link:hover,
.header-nav .link:focus {
  color: var(--accent-color-text);
}
.nav-item:not(:first-child) {
  margin-left: 50px;
}
.nav-item {
  position: relative;
}
/* ----------------link-nav---------------*/

.link-nav {
  display: flex;
  margin-right: 0px;
  margin-left: auto;
  list-style: none;
  letter-spacing: 0.02em;
}
.link-item:last-child {
  margin-left: 50px;
}

.link-item .link {
  display: flex;
  align-items: center;
  color: var(--primery-text-color);
}

.link:hover,
.link:focus {
  color: var(--accent-color-text);
}

.link-item {
  display: flex;
  align-items: center;
}

.link-icon {
  margin-right: 10px;
  width: 12px;
  height: 16px;
  fill: currentcolor;
}

.carent {
  color: var(--accent-color-text);
}
.carent::after {
  content: "";
  position: absolute;
  width: 100%;
  height: 4px;
  border-radius: 2px;
  background-color: var(--accent-color-text);
  display: block;
  bottom: -32px;
}

/* -------------hero ------------------------*/
.hero {
  background: #c4c4c4;
  background-repeat: no-repeat;
  background-image: linear-gradient(
      rgba(47, 48, 58, 0.4),
      rgba(47, 48, 58, 0.4)
    ),
    url(../images/hero-backgraund.jpg);
  background-position: center;
  background-size: cover;
  max-width: 1600px;
  margin-left: auto;
  margin-right: auto;
}
.hero-box {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.hero-title {
  margin-bottom: 0px;
  margin-top: 200px;
  padding: 0px;
  font-size: 44px;
  font-weight: 900;
  line-height: 1.36;
  letter-spacing: 0.06em;
  color: var(--white-color);
  text-transform: uppercase;
  text-align: center;
}
.button {
  border-radius: 4px;
  border: transparent;
  align-content: center;
  min-height: 50px;
  width: 200px;
  margin-bottom: 200px;
  margin-top: 30px;
  padding: 0px;
  font-family: "roboto", sans-serif;
  font-size: 16px;
  font-weight: 700;
  line-height: 1.87;
  color: var(--white-color);
  background-color: var(--accent-color-text);
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.button:hover,
.button:focus {
  color: var(--white-color);
  background-color: var(--hover-button);
}

/* -------------section ---------------*/

.section-title {
  color: var(--secondary-text-color);
  font-style: normal;
  font-weight: 700;
  font-size: 36px;
  line-height: 1.17;
  text-align: center;
}
.section .title {
  color: var(--secondary-text-color);
}

/*------------------- Особенности ---------------*/

.feature {
  display: flex;
  padding: 0px;
  margin-top: 94px;
  margin-bottom: 0px;
  list-style: none;
}

.feature-icon {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 270px;
  height: 120px;
  background-color: var(--secondary-backgraund-color);
}
.feature-logo {
  width: 70px;
  height: 70px;
}
.feature-list {
  margin-top: 0px;
  width: 270px;
  text-align: left;
}
.feature-list:not(:first-child) {
  margin-left: 30px;
}

.feature-title {
  color: var(--secondary-text-color);
  text-transform: uppercase;
}

/* ------------Чем мы занимаемся -----------*/

.work {
  margin-top: 94px;
}

.our-work {
  display: flex;
  flex-wrap: wrap;
  padding-left: 0;
  padding-right: 0px;
  margin-bottom: 0px;
  margin-top: 50px;
  list-style: none;
}
.title-work:not(:first-child) {
  margin-left: 30px;
}
.work-top {
  position: relative;
}

.work-top-text {
  text-align: center;
  padding: 27px;
  position: absolute;
  bottom: 0;
  text-transform: uppercase;
  color: var(--white-color);
  font-weight: 700;
  line-height: 1.17;
  display: block;
  background-color: rgba(47, 48, 58, 0.8);
  height: 70px;
  width: 100%;
}

/* ------------Наш персонал -----------------*/
.section-title.title {
  -webkit-text-stroke: 1px var(--logo-text-color);
}
.section.team {
  background-color: var(--secondary-backgraund-color);
}
.team-box {
  padding-bottom: 94px;
  margin-top: 94px;
  padding-top: 94px;
}
.team-box > .title {
  text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}
.our-team {
  display: flex;
  margin-top: 50px;
  margin-left: 0px;
  margin-right: 0px;
  padding-left: 0px;
  padding-right: 0px;
  font-size: 16px;
  line-height: 1.17;
  list-style: none;
}
.team-card {
  text-align: center;
  background-color: var(--white-color);
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25), 0px 1px 1px rgba(0, 0, 0, 0.14),
    0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 0px 0px 4px 4px;
}
.team-card:not(:first-child) {
  margin-left: 30px;
}
.our-team .title {
  margin-top: 30px;
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  list-style: none;
}
.our-team .profession {
  margin-top: 10px;
  margin-bottom: 16px;
}
.social-list {
  margin-bottom: 34px;
  margin-top: 0px;
  padding: 0px;
  display: flex;
  justify-content: center;
}
.social-item {
  width: 44px;
  height: 44px;
  list-style: none;
}
.social-item + .social-item {
  margin-left: 10px;
}
.social-link {
  width: 100%;
  height: 100%;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.social-link:hover,
.social-link:focus {
  background-color: var(--accent-color-text);
}
.social-link:hover .social-icon,
.social-link:focus .social-icon {
  fill: var(--white-color);
}
.social-icon {
  width: 20px;
  height: 20px;
  fill: var(--icon-color);
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
/* ------------------киенты-------------- */
.clients {
  margin-top: 94px;
}
.clients-list {
  padding: 0px;
  margin: 0px;
  display: flex;
}
.clients-link {
  width: 106px;
  height: 60px;
}
.clients-item {
  margin-top: 50px;
  width: 170px;
  height: 92px;
  list-style: none;
  border: 1px solid var(--icon-color);
  border-radius: 4px;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.clients-item + .clients-item {
  margin-left: 30px;
}

.clients-icon {
  width: 100%;
  height: 100%;
  fill: var(--icon-color);
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.clients-item:hover,
.clients-item:focus {
  border: 1px solid var(--accent-color-text);
}
.clients-item:hover .clients-icon,
.clients-item:focus .clients-icon {
  fill: var(--accent-color-text);
}

/* ------------ Portfolio----------------- */
.button-select {
  display: flex;
  margin-top: 94px;
  margin-bottom: 0px;
  justify-content: center;
  list-style: none;
}
.btn-select {
  padding-bottom: 6px;
  padding-top: 6px;
  padding-right: 22px;
  padding-left: 22px;
  border-radius: 4px;
  border: transparent;

  font-family: "Roboto", sans-serif;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.62;
  text-align: center;
  letter-spacing: 0.03em;
  color: var(--secondary-text-color);
  background-color: var(--secondary-backgraund-color);
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.select:not(:first-child) {
  margin-left: 8px;
}

.btn-select:hover,
.btn-select:focus {
  color: var(--white-color);
  background-color: var(--accent-color-text);
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}

.portfolio-list {
  padding: 0px;
  display: flex;
  margin-top: 0px;
  margin-bottom: 94px;
  margin-top: 94px;
  flex-wrap: wrap;
  list-style: none;
}

.portfolio-card {
  display: block;
  background: #ffffff;
  transition: box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.portfolio-card:hover,
.portfolio-card:focus {
  box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.06),
    1px 4px 6px rgba(0, 0, 0, 0.16);
}
.portfolio-card:hover .portfolio-top-text {
  transform: translateY(0);
}

.portfolio-card:nth-child(n + 4) {
  margin-top: 30px;
}

.portfolio-card:nth-child(3n + 2) {
  margin-left: 30px;
  margin-right: 30px;
}

.link.card {
  border-left: 1px solid #eeeeee;
  border-right: 1px solid #eeeeee;
}

.card-text {
  margin-top: 0px;
  border-bottom: 1px solid #eeeeee;
  border-left: 1px solid #eeeeee;
  border-right: 1px solid #eeeeee;
}
.portfolio-title {
  padding-top: 20px;
  margin-top: 0px;
  margin-left: 24px;
  font-weight: 700;
  font-size: 18px;
  line-height: 2;
  letter-spacing: 0.06em;
  color: var(--secondary-text-color);
}

.portfolio-text {
  margin-top: 4px;
  margin-left: 24px;
  margin-bottom: 20px;
  font-weight: 400;
  font-size: 16px;
  line-height: 1.87;
  letter-spacing: 0.03em;
  color: var(--primery-text-color);
}

.portfolio-top-wrapper {
  position: relative;
  overflow: hidden;
  width: 100%;
}

.portfolio-top-text {
  position: absolute;
  color: #ffffff;
  line-height: 1.56;
  font-size: 18px;
  top: 0;
  padding-left: 24px;
  padding-right: 24px;
  padding-top: 63px;
  padding-bottom: 63px;
  background-color: rgba(33, 150, 243, 0.9);
  transform: translateY(100%);
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

/* -------------------footer --------------*/
.footer {
  margin-top: 94px;
  background-color: var(--background-footer-color);
}
.footer-addres {
  height: 252px;
  font-style: normal;
  color: #ffffff;
}

.addres-list {
  margin-top: 0px;
  margin-bottom: 0px;
  padding-left: 0px;
  padding-right: 0px;
  list-style: none;
}
.addres-list .link {
  color: rgba(255, 255, 255, 0.6);
}
.social:first-child {
  padding-top: 60px;
}
.social:nth-child(2) {
  margin-top: 20px;
}
.social:nth-child(n + 3) {
  margin-top: 9px;
}
.social:last-child {
  margin-bottom: 60px;
}
.social .link:hover,
.social .link:focus {
  color: var(--accent-color-text);
}
.link-blok {
  margin-left: 70px;
}
.addres-title {
  padding: 0px;
  font-size: 14px;
  color: var(--white-color);
  margin-top: 70px;
}

.footer-blok {
  display: flex;
}
.footer-list {
  margin: 0px;
  padding: 0px;
  list-style: none;
  display: flex;
}
.footer-item {
  margin-top: 20px;
  width: 44px;
  height: 44px;
  list-style: none;
}
.footer-item + .footer-item {
  margin-left: 10px;
}
.footer-link {
  width: 100%;
  height: 100%;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  background: rgba(255, 255, 255, 0.1);
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.footer-link:hover,
.footer-link:focus {
  background-color: var(--accent-color-text);
}
.footer-icon {
  fill: var(--white-color);
  width: 20px;
  height: 20px;
}

.subscribe-box {
  margin-top: 72px;
  margin-left: 93px;
}

.subscribe-title {
  color: var(--white-color);
  text-transform: uppercase;
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
}

.subscribe-form {
  margin-top: 20px;
  display: flex;
}

.subscibe-input {
  color: var(--white-color);
  padding-left: 16px;
  width: 358px;
  height: 50px;
  background: transparent;
  border: 1px solid rgba(255, 255, 255, 0.3);
  filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.15));
  border-radius: 4px;
  outline: none;
}

.subscribe-btn {
  display: flex;
  color: var(--white-color);
  margin-left: 12px;
  width: 200px;
  height: 50px;
  font-weight: 700;
  font-size: 16px;
  line-height: 1.87;
  letter-spacing: 0.06em;
  background-color: var(--accent-color-text);
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-radius: 4px;
  border: transparent;
  align-items: center;
  justify-content: center;
}

.subscribe-icon {
  margin-left: 10px;
  width: 24px;
  height: 24px;
}

/*-------- modal -------------*/

.backdrop {
  position: fixed;
  top: 0;
  width: 100vw;
  height: 100vh;
  background-color: rgba(0, 0, 0, 0.2);
  display: flex;
  align-items: center;
  justify-content: center;
  transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1),
    visibility 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.backdrop.is-hidden {
  opacity: 0;
  visibility: hidden;
  pointer-events: none;
}

.backdrop.is-hidden .modal {
  transform: scale(2);
}

.modal {
  padding-left: 40px;
  padding-right: 40px;
  padding-top: 40px;
  position: relative;
  width: 528px;
  min-height: 581px;
  border-radius: 4px;
  background-color: var(--white-color);
  transform: scale(1);
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.feedback-title {
  color: var(--secondary-text-color);
  font-weight: 700;
  font-size: 20px;
  line-height: 1.15;
  text-align: center;
  letter-spacing: 0.03em;
}

.feedback-label {
  display: block;
  margin-bottom: 4px;
  font-size: 12px;
  line-height: 1.16;
  letter-spacing: 0.01em;
}
.feedback-field {
  position: relative;
  margin-top: 10px;
}
.user-input.comment {
  padding-top: 12px;
  padding-left: 16px;
  height: 120px;
  resize: none;
}
.user-input {
  width: 100%;
  height: 40px;
  border: 1px solid rgba(33, 33, 33, 0.2);
  border-radius: 4px;
  outline: none;
  padding-left: 42px;
  padding-right: 10px;
}
.user-input:focus {
  border-color: var(--accent-color-text);
}

.user-input:focus + .input-icon {
  fill: var(--accent-color-text);
}

.feedback-link {
  margin-left: 3px;
  color: var(--accent-color-text);
}

.input-icon {
  position: absolute;
  left: 12px;
  top: 50%;
  width: 18px;
  height: 18px;
}

.check-text {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 20px;
}

.check-text span {
  margin-right: 7px;
  width: 16px;
  height: 16px;
  background-repeat: no-repeat;
  background-image: url(../images/icon/check-border.svg);
}

.feedback-checkbox:checked + .check-text span {
  background-repeat: no-repeat;
  background-image: url(../images/icon/icon-check.svg);
}

.sabmit-btn {
  display: block;
  margin: auto;
  margin-top: 30px;
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14),
    0px 2px 1px rgba(0, 0, 0, 0.2);
}

.close-btn {
  position: absolute;
  top: 8px;
  right: 8px;
  background-color: var(--white-color);
  border-radius: 50%;
  border: 1px solid rgba(0, 0, 0, 0.1);
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 0;
  padding: 0;
  width: 30px;
  height: 30px;
}

.close-icon {
  width: 18px;
  height: 18px;
}
.close-btn:focus .close-icon,
.close-btn:hover .close-icon {
  fill: var(--accent-color-text);
}
